.grid-container {
  display: flex;
  flex-flow: column wrap;
}

.barsearch {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 25px;
  text-align: center;
}

.form-search {
  display: flex;
  width: 50%;
}

.form-control {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-container {
  width: 20%;
}

.categorys {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
}

.categorys input {
  margin: 15px;
}

.Product-Show {
  display: flex;
  justify-content: space-around;
}

/* CSS inspirado em Grids https://www.w3schools.com/css/css_grid.asp */
.product-container {
  width: 75%;
}


.product-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, auto));
  text-align: center;
}

.product-list img {
  margin: 15px auto;
  width: 50%;
}

.product {
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 15px;
  transition: transform 100ms ease-in-out;
}
