.Categories {
  background-color: rgb(255, 255, 255);
  width: 18%;
  padding: 1%;
}

.a {
  background-color: blue;
}

.body {
  background-color: rgb(20, 20, 41);
  display: flex;
}

.product-area {
  background-color: #ebebeb;
  width: 82%;
}

.title-categories {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.product {
  width: 30%;
  background-color: rgb(255, 255, 255);
  margin: 2em;
  padding: 1em;
  border-radius: 10px;
}

.img-product {
  width: 15em;
}