* {
  padding: 0%;
  margin: 0%;
}

.Search-bar {
  background-color: #fff159;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.searchText {
  width: 98%;
}

.logotipo {
  width: 8em;
}

.research{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-car{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
