body {
  background-color: rgb(231, 226, 226);
}

.shop-title {
  color:rgba(15, 14, 14, 0.897);
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;

}

/* .main-box {
  border: 1px solid red;
} */

/* .search {
  border: 2px solid blue;
} */


.sidebar {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

/* .search-bar {
  background-color: red;
} */