.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* ------------------- ProductList.jsx ---------------- */
* {
  box-sizing: border-box;
  font-family: Poppins , sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.shipping {
  color: red;
  font-weight: bold;
}

.main-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.container-searchbar {
  width: 80%;
}

.main-container main {
  margin-left: 20%;
  width: 80%;
}

.container-ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.164);
  list-style: none;
}

.products-list-container li {
  border: 1px solid grey;
  font-size: 14px;
  height: 20rem;
  margin: 1rem 1%;
  max-width: 300px;
  padding: 1rem;
  text-align: center;
  width: 30%;
}

.products-list-container li button {
  background-color: #0496FF;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px 6px;
  transition: all 0.2s;
}

.products-list-container li button:hover {
  transform: scale(1.1);
}

.main-container main li {
  list-style: none;
}

.search-container {
  align-items: center;
  background-color: #0496FF;
  display: flex;
  height: 6rem;
  justify-content: center;
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.search-container input {
  border: 1px solid grey;
  font-size: 24px;
  height: 3rem;
  padding: 0 3px;
  width: 30rem;
}

.search-container input:focus {
  outline: none;
}

.search-container button {
  background-color: yellow;
  border: 1px solid grey;
  font-size: 16px;
  font-weight: 700;
  height: 3rem;
  padding: 0 2rem;
}

.search-container form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 18.5%;
}

.btn-cart {
  color: rgba(0, 0, 0, 0.424);
  font-size: 46px;
  height: 100%;
  position: fixed;
  left: 2rem;
  top: 1rem;
}

.message {
  font-size: 24px;
  padding-top: 8rem;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.products-list-container li * {
  margin: 8px 0;
}

.products-list-container ul li button {
  background-color: yellow;
}

.products-list-container ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 90%;
}

/* ------------------- CategoriesList.jsx ---------------- */
.selected {
  background-color: #80cffa;
}

.container-ul {
  background-color: #006BA6;
  display: flex;
  font-size: 30px;
  height: calc(100% - 6rem);
  left: 0;
  margin-top: 6rem;
  overflow: auto;
  position: fixed;
  width: 22%;
}

.container-ul::-webkit-scrollbar-track {
  background-color: whitesmoke;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.103);
}

.container-ul::-webkit-box-shadow {
  inset: 0 0 6px rgba(0, 0, 0, 0.103);
}

.container-ul::-webkit-scrollbar {
  background-color: whitesmoke;
  width: 4px;
}

.container-ul::-webkit-scrollbar-thumb {
  background-color: #006BA6;
  border: 2px solid #004a72;
}

.container-ul ol {
  font-size: 0;
  width: 100%;
}

.container-ul li button {
  background-color: #006BA6;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 1.5rem;
  padding-left: 1rem;
  text-align: left;
  transition: all 0.1s;
  width: 100%;
}

.container-ul li button:hover {
  background-color: #3ca1d8;
  letter-spacing: 1px;
}


/* ------------------- ShoppingCartButton.jsx ---------------- */
.shopping-cart-container {
  width: 100%;
}

.shopping-cart-container header {
  background-color: grey;
  padding: 0 5%;
}

.btn-return {
  color: rgba(0, 0, 0, 0.637);
  font-size: 48px;
  transition: all 0.15s;
}

.btn-return:hover {
  transform: scale(1.01);
}

.cart-body {
  font-size: 32px;
  margin-top: 10rem;
  text-align: center;
  width: 100%;
}

.cart-basket {
  font-size: 18px;
  margin: 0 auto;
  width: 50%;
}

.cart-basket div {
  border: 1px solid grey;
}

.cart-basket b {
  font-weight: 700;
}

/* ------------------- ShoppingCartButton.jsx ---------------- */
.product-page header {
  background-color: #0496FF;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.product-page .btn-return {
  margin-left: 10%;
  margin-top: 1rem;
}

.product-container {
  margin-top: 8rem;
  margin-left: 10%;
}

.product-container * {
  margin: 8px 0;
}

.product-container img {
  border: 1px solid grey;
}

.product-container h3 {
  font-size: 26px;
}

.product-container p {
  font-size: 26px;
}

.product-container button {
  background-color: yellow;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 5px 15px;
  transition: all 0.15s;
}

.product-container button:hover {
  transform: scale(1.1);
}

