/* main screen css  */
.mainScreen {
  display: flex;
  flex-wrap: wrap;
}

/* header css */
.header {
  align-items: center;
  background-color: rosybrown;
  display: flex;
  height: 2em;
  justify-content: center;
  width: 100%;
}


/* radio buttons css */
.radioButtonsParent {
  background-color: skyblue;
  border: solid;
  display: flex;
  flex-direction: column;
  height: 46em;
  justify-content: flex-start;
  margin: 2em;
  margin-right: 7em;
  padding: 1em;
}

.radioButtons {
  margin: 2px;
}


/* product list css */
.productList {
  background-color: cornflowerblue;
  border: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  width: 90em;
}

/* product card css */
.productCard {
  align-items: center;
  background-color: snow;
  border: solid;
  display: flex;
  flex-direction: column;
  height: 22em;
  margin: 1em;
  padding: 1em;
  width: 20em;
}

.thumbnail {
  border: 1px solid;
  height: 10em;
  width: 10em;
}

/* product details css */
.productDetails {
  align-items: center;
  background-color: tan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 29em;
  width: 50%;
}

.productDetailsImage {
  border: 1px solid;
}
